.login-button{
    width: 16rem;
    height: 4rem;
    border-radius: 1.2rem;
    background-color: #1DB954;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    border-color: white;
}

.App-header{
    padding-left: 3rem;
    padding-right: 3rem;
}
.description{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logout-button {
    width: 16rem;
    height: 4rem;
    border-radius: 1.2rem;
    background-color: rgba(103, 101, 101, 0.5);
    border-color: #1DB954;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.content-div{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.searchTxt {
    height: 4rem;
    width: 18rem;
}

.field {
    margin: 60px;
    padding-right: 47%;
}

.surround {
    padding-top: 20%;
}

